# Bỏ qua thư mục môi trường ảo và cache của Python
env/
__pycache__/
*.pyc
*.pyo
*.pyd


# Bỏ qua file log & dữ liệu không cần thiết
*.log
*.sqlite3

.env
/env
\env
./env
*.sqlite
__pycache__
/data/old_data
/testing_memory
graph.py
*.jpg
*.png